main{
    min-height: calc(100vh - 80px - 80px - 15px);
}

#containerMain {
    margin: 15px auto; ;
    padding: 0.5rem;
    border: 0.2rem solid #062e51;
    border-radius: 0.5rem;
    width: 70%;
}
#containerComponents{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.component.col-7{
    width: 100%;
    margin-bottom: 5px;
}
.component.col-3 {
    width: 49%;
}
.component.col-2{
    width: 49%;
}
.component.range.col-4{
    width: 87%;
}
.component.range input{
    position: relative;
    top: 3px;
}

.datas{
    width: 70%;
}

.datas .col-3{
    width: 32%; 
}

.datas .card{
    margin: 8px 0;
}

.datas .card-header {
    padding: 10px 2px;
    font-size: 1rem;
    text-align: center;
    background-color: #062e51;
    color: #fff;
}

.datas .card-body {
    padding: 10px 2px;
    font-size: 2.5rem;
    text-align: center;
    color: #062e51;
}

#containerOutput{
    margin: auto ;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 70%;
}