#navigation-bar h1{
    text-align: center;
    font-size: 2rem;
}

#containerMain {
    margin: 1rem auto;
    padding: 0.5rem;
    border: 0.2rem solid #062e51;
    border-radius: 0.5rem;
    width: 96%;
}

#containerComponents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.component {
    margin: 2px 0px;
    padding: 0px 2px;
}

.component.col-7{
    width: 100%;
}
.component.col-3 {
    width: 100%;
}
.component.col-2{
    width: 100%;
}
.component.range.col-4{
    width: 80%;
}
.component.range input{
    position: relative;
    top: 10px;
}

.datas{
    padding: 0px;
    min-width: 96%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.datas .card{
    margin: 3px;
}

.datas .col-3 {
    width: 48%;
}

.datas #ratio {
    width: 98%;
    order: 3;
}

.datas .card-header {
    padding: 16px 2px;
    font-size: 1rem;
    text-align: center;
    background-color: #062e51;
    color: #fff;
}

.datas .card-body {
    padding: 16px 8px;
    font-size: 1.75rem;
    text-align: center;
    color: #062e51;
}

#containerOutput{
    margin: 1rem auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 96%;
}

.alert {
    width: 96%;
    max-width: 380px;
    padding:20px 5px;
}

.alert .message {
    padding:10px 5px 10px 30px;
}

.alert .fa-exclamation-circle{
    left: 3px;
}

.wrapper{
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: max-content;
    margin: 10px 0px;
    padding: 5px;
}

.wrapper .button{
    width: 170px;
    margin: 5px 2px 2px 5px;
}

.wrapper .button:hover{
    width: 170px;
    background-color:rgb(105, 105, 105);
    color: #fff;
}

.wrapper .button span{
    font-size: 1rem;
    font-weight: 700;
}

.wrapper .button:nth-child(1) .icon{
    background-color: #24292E;
    color: #fff;
}

.wrapper .button:nth-child(2) .icon{
    background-color: #2B579A;
    color: #fff;
}

.wrapper .button:nth-child(3) .icon{
    background-color: #FF0000;
    color: #fff;
}

.wrapper .button:nth-child(4) .icon{
    background-color: #0A66C2;
    color: #fff;
}