#navigation-bar .social li{
    width: 32px;
    height: 32px;
}

#navigation-bar .social li a{
    font-size: 1.25rem;
}

#navigation-bar h1{
    font-size: 1.5rem;
}

#containerMain {
    margin: 1rem auto;
    padding: 0.5rem;
    border: 0.2rem solid #062e51;
    border-radius: 0.5rem;
    width: 96%;
}

#containerComponents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.component {
    margin: 2px 0px;
    padding: 0px 2px;
}

.component.col-7{
    width: 100%;
}
.component.col-3 {
    width: 100%;
}
.component.col-2{
    width: 100%;
}
.component.range.col-4{
    width: 80%;
}
.component.range input{
    position: relative;
    top: 10px;
}

.datas{
    padding: 0px;
    min-width: 96%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.datas .card{
    margin: 3px;
}

.datas .col-3 {
    width: 48%;
}

.datas #ratio {
    width: 98%;
    order: 3;
}

.datas .card-header {
    padding: 16px 2px;
    font-size: 1rem;
    text-align: center;
    background-color: #062e51;
    color: #fff;
}

.datas .card-body {
    padding: 16px 8px;
    font-size: 1.75rem;
    text-align: center;
    color: #062e51;
}

#containerOutput{
    margin: 1rem auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 96%;
}

.alert {
    width: 96%;
    max-width: 380px;
    padding:20px 5px;
}

.alert .message {
    padding:10px 5px 10px 30px;
}

.alert .fa-exclamation-circle{
    left: 3px;
}