main{
    min-height: calc(100vh - 80px - 80px - 1rem);
}

#containerMain {
    margin: 1rem auto;
    padding: 0.5rem;
    border: 0.2rem solid #062e51;
    border-radius: 0.5rem;
    min-width: 96%;
}

#containerComponents{
    min-width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.component {
    margin: 2px 0px;
    padding: 0px 2px;
}

.component.col-7{
    width: 100%;
    margin-bottom: 5px;
}
.component.col-3 {
    width: 49%;
}
.component.col-2{
    width: 49%;
}
.component.range.col-4{
    width: 85%;
}
.component.range input{
    position: relative;
    top: 10px;
}

.datas{
    min-width: 96%;
}

.datas .col-3 {
    width: 33%;
}

.datas .card{
    margin: 6px 0;
}

.datas .card-header {
    padding: 16px 2px;
    font-size: 0.85rem;
    text-align: center;
    background-color: #062e51;
    color: #fff;
}

.datas .card-body {
    padding: 16px 8px;
    font-size: 2rem;
    text-align: center;
    color: #062e51;
}

#containerOutput{
    margin: 1rem auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
    min-width: 96%;
}
